$softhouseorange: #ea6602;
$menubackground: #FFFFFF;
$menutextcolor: #3D606E;
$brandbackground: #3D606E;
$bodybackground: #e0e0e0;
$textcolor: #333;

$topbartextcolor: $menutextcolor;
$topbarbackground: $menubackground;

$sidebarnavlistbackground: #B2CBDA;
$sidebarnavlisttextcolor: #00365A;
$sidebarnavlisthoverbackground: #CDD7EA;
$tagcolor: #B0D3E0;