<div class="modal" ng-if="vm.active">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				Edit General Info
				<button class="close" ng-click="vm.hideModal()">&times;</button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" name="form" novalidate>

					<!-- NAME -->

					<div class="form-group">
						<label class="col-sm-4 control-label">Name</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="name" placeholder="Person Name" ng-model="vm.generalInfo.name" validatewords>
							<span ng-messages="form.name.$error" ng-show="form.name.$dirty">
								<span class="alert alert-danger" ng-message="validatewords">Please use a maximum of 100 characters.</span>
							</span>
						</div>
					</div>

					<!-- OFFICE -->

					<div class="form-group">
						<label class="col-sm-4 control-label">Office</label>
						<div class="col-sm-8">
							<button type="button" class="btn btn-default" ng-model="vm.generalInfo.office" data-html="1" bs-options="office as office.name for office in vm.offices" bs-select>
							  Action <span class="caret"></span>
							</button>
						</div>
					</div>

					<!-- CLOSEST SUPERIOR -->

					<div class="form-group">
						<label class="col-sm-4 control-label">Manager Name</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="closestSuperior" placeholder="Manager Name" ng-model="vm.generalInfo.closestSuperior" validatewords>
							<span ng-messages="form.closestSuperior.$error" ng-show="form.closestSuperior.$dirty">
								<span class="alert alert-danger" ng-message="validatewords">Please use a maximum of 100 characters.</span>
							</span>
						</div>
					</div>

					<!-- PHONE-->

					<div class="form-group">
						<label class="col-sm-4 control-label">Phone</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="phone" placeholder="+46 123 45 67 89" ng-model="vm.generalInfo.phoneNumber" validatephonenumber>
							<span ng-messages="form.phone.$error" ng-show="form.phone.$dirty">
								<span class="alert alert-danger" ng-message="validatephonenumber">Please use a maximum of 20 digits.</span>
						</div>
					</div>

					<!-- EMPLOYEE NUMBER-->

					<!-- <div class="form-group">
						<label class="col-sm-4 control-label">Employee number</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="employeeNumber" placeholder="E.g. 123" ng-model="vm.generalInfo.employeeNumber" validateemployeenumber>
							<span ng-messages="form.employeeNumber.$error" ng-show="form.employeeNumber.$dirty">
								<span class="alert alert-danger" ng-message="">Please use numbers only. A maximum of 5 digits allowed.</span>
							</span>
						</div>
					</div> -->

					<!-- POSITION -->

					<div class="form-group">
						<label class="col-sm-4 control-label">Position</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" placeholder="E.g. Consultant" name="position" ng-model="vm.generalInfo.position" validatewords>
							<span ng-messages="form.position.$error" ng-show="form.position.$dirty">
								<span class="alert alert-danger" ng-message="validatewords">Please use a maximum of 100 characters.</span>
							</span>
						</div>
					</div>

					<!-- COUNTRY -->

					<div class="form-group">
						<label class="col-sm-4 control-label">Country</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" ng-model="vm.generalInfo.country" data-min-length="0" data-html="1" data-auto-select="true" data-animation="am-flip-x" bs-options="country.value as country.label for country in vm.countries" placeholder="Country Name" bs-typeahead>
						</div>
					</div>

					<!-- PERSONAL INTERESTs-->

					<div class="form-group" ng-hide="true">
						<label class="col-sm-4 control-label">Personal Interests</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" placeholder="" ng-model="vm.generalInfo.personalInterests">
						</div>
					</div>

					<!-- DESCRIPTION -->

					<div class="form-group" ng-hide="true">
						<label class="col-sm-4 control-label">Description</label>
						<div class="col-sm-8">
							<textarea class="form-control" placeholder="" ng-model="vm.generalInfo.description"></textarea>
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" ng-click="vm.hideModal()">Close</button>
				<button class="btn btn-primary" ng-click="vm.save()" ng-disabled="form.$dirty && !form.$valid || !form.$dirty">Save changes</button>
			</div>
		</div>
	</div>
</div>

