@import "../../styles/base";
@import "../../styles/colors";

.dashboard {
    .chart {
        min-height: 100px;
        height: 100% !important;
        .amchart {
            height: 100% !important;
            .amcharts-main-div {
                height: 100% !important;
                .amcharts-chart-div {
                    min-height: 300px;
                    height: 100% !important;
                }
            }
        }
    }
}
