<div class="dashboard">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Filters
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checklist-type">
                                <i class="fa fa-building"></i> Offices
                            </div>
                            <label class="checkbox-inline checklist-select-all">
                                <input type="checkbox" ng-change="vm.setAllOffices(vm.allOffices)" ng-model="vm.allOffices"> Select
                                all
                            </label>
                            <ul class="list-group checklist">
                                <li class="list-group-item" ng-repeat="office in vm.offices[0].offices | orderBy: office">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="{{office}}" value="{{office}}"
                                               ng-change="vm.setCompetenceData()" ng-model="vm.office[office]">{{office}}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="chart">
                        <div id="programming-skills" style="width: 100%; height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="chart">
                        <div id="soft-skills" style="width: 100%; height: 800px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
