<div class="panel panel-default">
    <div class="panel-body" style="min-height:1000px;overflow:auto;">
        <div class="row">
            <br>
            <div class="col-lg-2" style="max-height:200px;overflow:hidden;">
                Office:
                </br>

                <span ng-repeat="office in vm.offices[0].offices" >
                    <input type="checkbox" name="{{office}}" value="{{office}}" ng-change="vm.setCompetenceData()" ng-model="vm.office[office]">{{office}}<br>
                </span>
            </div>

            <div class="col-lg-10" style="max-height:150px;min-height:150px;max-width:706px;overflow:auto;">
                <span ng-repeat="skill in vm.skills[0].skills" >
                    <input type="checkbox" name="{{skill}}" value="{{skill}}" ng-change="vm.setCompetenceData()" ng-model="vm.skill[skill]">{{skill}}
                </span>
            </div>
            <br>
            <div class="col-md-12">
                <button type="button" ng-csv="vm.getUserSkillCSV()" csv-header="vm.getUserNamesInSelectedOfficesCSV()" filename="CompetenceMatrix.csv">Export</button>
            </div>
            <br>
            <div class="col-md-12" style="min-height:100px;max-width:1300px;overflow:show;">
                <table border="1">
                    <tr>
                        <th>
                        </th>
                        <th ng-repeat="obj in vm.competenceData[0].users">
                            <a ng-href="#/profile/{{obj.userId}}">{{ obj.name }}</a>
                        </th>
                    </tr>
                    <tr ng-repeat="obj in vm.competenceData">
                        <td>
                            {{ obj.skill }}
                        </td>
                        <td ng-repeat="lvl in obj.users">
                            {{ lvl.level }}
                        </td>
                        <td >
                            {{ lvl.level }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
