<div class="modal" ng-if="vm.active">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Edit General Info
                <button class="close" ng-click="vm.hideModal()">&times;</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="form" novalidate>

                    <!-- PERSONAL ID NUMBER -->

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Personal ID Number</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="personalIdNumber" placeholder="personalIdNumber" ng-model="vm.privateInfo.personalIdNumber" validatewords>
                            <span ng-messages="form.name.$error" ng-show="form.name.$dirty">
                                <span class="alert alert-danger" ng-message="validatenumber">A maximum of 20 digits allowed.</span>
                            </span>
                        </div>
                    </div>

                    <!-- ADDRESS -->

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="address" placeholder="" ng-model="vm.privateInfo.address">
                        </div>
                    </div>

                    <!-- CITY -->

                    <div class="form-group">
                        <label class="col-sm-2 control-label">City</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="" name="city" ng-model="vm.privateInfo.city" validatewords>
                            <span ng-messages="form.city.$error" ng-show="form.city.$dirty">
                                <span class="alert alert-danger" ng-message="validatewords">Please use a maximum of 100 characters.</span>
                            </span>
                        </div>
                    </div>

                    <!-- ZIP -->

                    <div class="form-group">
                        <label class="col-sm-2 control-label">ZIP</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="" name="ZIP" ng-model="vm.privateInfo.ZIP">
                        </div>
                    </div>

                    <!-- ICE Name -->

                    <div class="form-group">
                        <label class="col-sm-2 control-label">ICE Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="" name="ICEName" ng-model="vm.privateInfo.ICEName" validatewords>
                            <span ng-messages="form.ICEName.$error" ng-show="form.ICEName.$dirty">
                                <span class="alert alert-danger" ng-message="validatewords">Please use a maximum of 100 characters.</span>
                            </span>
                        </div>
                    </div>

                    <!-- ICE PHONE -->

                    <div class="form-group">
                        <label class="col-sm-2 control-label">ICE Phone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="ICEPhone" placeholder="" ng-model="vm.privateInfo.ICEPhone" validatenumber>
                            <span ng-messages="form.ICEPhone.$error" ng-show="form.ICEPhone.$dirty">
                                <span class="alert alert-danger" ng-message="validatenumber">Please use numbers only. A maximum of 20 digits allowed.</span>
                            </span>
                        </div>
                    </div>

                    <!-- START DATE OF EMPLOYMENT -->

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="fa fa-calendar"></i> Employed From </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="vm.privateInfo.startDateOfEmployment" name="fromDate" bs-datepicker>
                        </div>
                    </div>

                    <!-- END DATE OF EMPLOYMENT -->

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="fa fa-calendar"></i> Employed Until </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="vm.privateInfo.endDateOfEmployment" name="toDate" bs-datepicker>
                        </div>
                    </div>

                    <!-- SHIRT SIZE -->

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Shirt Size</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="" name="shirtSize" ng-model="vm.privateInfo.shirtSize" validatewords>
                            <span ng-messages="form.shirtSize.$error" ng-show="form.shirtSize.$dirty">
                                <span class="alert alert-danger" ng-message="validatewords">Please use a maximum of 100 characters.</span>
                            </span>
                        </div>
                    </div>

                    <!-- FOOD PREFERENCES -->

                    <div class="form-group" ng-hide="true">
                        <label class="col-sm-2 control-label">Food Preferences</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" placeholder="" ng-model="vm.privateInfo.foodPreferences"></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="vm.hideModal()">Close</button>
                <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="form.$dirty && !form.$valid || !form.$dirty">Save changes</button>
            </div>
        </div>
    </div>
</div>

