@import "styles/_base";
@import "styles/_colors";

.edit-assignments-list {
	min-height: 400px;
	max-height: 400px;
	border: 1px solid #ddd;
	background-color: #eee;
	.edit-assignments-list-item {
		display: flex;
		border:none;
		padding: 10px;
		@include border-radius(0);
		border-top: 1px solid #ddd;
		&:first-child {
			border-top: none;
		}
		&:last-child {
			border-bottom: 1px solid #ddd;
		}
		min-height: 100px;
		.deletebutton {
			display: inline-block;
			color: red;
		}
		.editbutton {
			display: inline-block;
			float: right;
		}
		.name {
			display: inline-block;
			font-weight: bold;
			width: 175px;
		}
		.description {
		}
	}
}