@import "styles/_base";
@import "styles/_colors";

.edit-assignments-list {
    overflow: hidden;
    max-width: 100%;
    zoom: 1;
	border: 1px solid #ddd;
	background-color: #eee;
	.edit-assignments-list-item {
        width: 100%;
        zoom: 1;
        overflow: hidden;
        text-overflow: clip;
        white-space:nowrap;
		display: flex;
		border:none;
		@include border-radius(0);
		border-top: 1px solid #ddd;

        .item-buttons {
            width: 40px;
            min-width: 40px;
        }
        .deletebutton {
            @include transition(all 0.3s ease);
            max-width: 100%;
            min-width: 100%;
            display: inline-block;
            color: rgba(255, 255, 255, 1);
            background-color: red;
            text-align: center;
            line-height: 100px;
            font-size: 20px;
            cursor: pointer;
        }

        .editbutton {
            @include transition(all 0.3s ease);
            max-width: 100%;
            min-width: 100%;
            display: inline-block;
            color: rgba(255, 255, 255, 1);
            background-color: #337ab7;
            text-align: center;
            line-height: 100px;
            font-size: 20px;
            cursor: pointer;
        }

		&:first-child {
			border-top: none;
		}
		&:last-child {
			border-bottom: 1px solid #ddd;
		}
		.name {
			display: inline-block;
			font-weight: bold;
			width: 175px;
		}
		.description {
		}
	}
    .empty-panel-body {
        text-align: center;
        padding: 15px;
    }
}
