@import "styles/_base";
@import "styles/_colors";

.edit-assignments-list {
	min-height: 391px;
	background-color: #ddd;
	@include border-radius(5px);
	.edit-assignments-list-item {
		border:none;
		padding: 10px;
		&:first-child {
			@include border-top-radius(5px);
		}
		&:last-child {
			@include border-radius(0);
		}
		&:nth-child(odd) {
			background-color: #F1F1F1;
		}
		.deletebutton {
			display: inline-block;
			color: red;
		}
		.editbutton {
			display: inline-block;
			float: right;
		}
		.name {
			display: inline-block;
			font-weight: bold;
			width: 175px;
		}
		.level {
			display: inline-block;
			width: 100px;
		}
		.years {
			display: inline-block;
		}
	}
}