@import "styles/_base";
@import "styles/_colors";

$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;

$animation-curve-default: $animation-curve-fast-out-slow-in !default;

$tag-min-width: 64px !default;
$tag-height: 36px !default;
$tag-padding: 8px !default;
$tag-margin: 4px !default;
$tag-border-radius: 2px !default;

$tag-fab-size: 56px !default;
$tag-fab-size-mini: 40px !default;
$tag-fab-font-size: 24px !default;

$tag-icon-size: 32px !default;
$tag-icon-size-mini: 24px !default;

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $bodybackground;
    color: $textcolor;
}

.wrapper {
    padding-left: 0;
    @include transition(all 0.2s ease);
}

.wrapper.toggled {
    padding-left: 250px;
}

.sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: $menubackground;
    @include transition(all 0.2s ease);
}

.wrapper.toggled .sidebar-wrapper {
    width: 250px;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    .container-fluid {
        margin-top: 15px;
    }
}

.wrapper.toggled .page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
/* Sidebar Styles */

.sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav-list {
    color: $sidebarnavlisttextcolor;
    background: $sidebarnavlistbackground;
    >.list-item {
        padding-left: 48px;
        &:first-of-type {
            @include background-image(linear-gradient(to bottom, darken($sidebarnavlistbackground, 8%) 0%, $sidebarnavlistbackground 25%));
        }
        &:hover {
            background: $sidebarnavlisthoverbackground;
        }
    }
    >.buttons {
        .button {
            width: 48px;
            color: $brandbackground;
            text-align: center;
            &:hover {
                background-color: lighten($menubackground, 10%);
            }
        }
    }
}

.sidebar-nav li {
    line-height: 48px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: $menutextcolor;
    .list-toggle {
        display: inline-block;
        float: right;
        position: relative;
        font-size: 150%;
        top: 14px;
        right: 12px;
        &.toggled {
            top: 11px;
            right: 9px;
        }
    }
}

.list-toggle {
    display: inline-block;
    @include rotateZ(-90deg);
    @include transition-property(all);
    @include transition-duration(0.1s);
    @include transition-timing-function(ease);
    &.toggled {
        @include rotateZ(0deg);
    }
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: lighten($menutextcolor, 5%);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

@media(min-width:768px) {
    .wrapper {
        padding-left: 250px;
    }
    .wrapper.toggled {
        padding-left: 64px;
    }
    .sidebar-wrapper {
        width: 250px;
    }
    .wrapper.toggled .sidebar-wrapper {
        width: 64px;
    }
    .page-content-wrapper {
        position: relative;
    }
    .wrapper.toggled .page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.sidebar-brand {
    color: white;
    background-color: $brandbackground;
    line-height: 64px;
    height: 64px;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    .fa {
        color: #aaaaaa;
        font-size: 40px;
        margin-left: 10px;
    }
    .profile-image {
        display: inline-block;
        vertical-align: top;
        height: 50px;
        width: 50px;
        @include border-radius(100%);
        background-color: white;
        margin: 7px;
        img {
            @include border-radius(100%);
            height: 46px;
            margin: 2px;
            vertical-align: top;
        }
    }

    &:hover {
        text-decoration: none;
        color: white;
        background-color: lighten($menutextcolor, 5%);
    }
    &:focus {
        outline: none;
        text-decoration: none;
        color: white;
    }
}

.topbar {
    display: flex;
    color: $topbartextcolor;
    background-color: $topbarbackground;
    height: 64px;
    line-height: 64px;
    .menubutton {
        min-height: 64px;
        min-width: 64px;
        text-align: center;
        display: inline-block;
        font-size: 32px;
    }
    .title {
        width: 100%;
    }
    .search {
        min-width: 200px;
        max-width: 200px;
        padding: 15px;

    }
}

.sidebar-icon {
    width: 64px;
    text-align: center;
    font-size: 30px;
}

.panel {
    @include border-radius(0px);
    @include box-shadow(0 1px 2px rgba(0,0,0,0.2));
    border: 0;
}

.tag {
    background: $brandbackground;
    border: none;
    border-radius: $tag-border-radius;
    color: white;
    display: block;
    position: relative;
    height: $tag-height;
    min-width: $tag-min-width;
    padding: 0 $tag-padding;
    margin-right: 2px;
    display: inline-block;
    overflow: hidden;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s $animation-curve-fast-out-linear-in,
              background-color 0.2s $animation-curve-default,
              color 0.2s $animation-curve-default;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: $tag-height;
    vertical-align: middle;

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        background-color: $sidebarnavlisthoverbackground;
    }
}

.pagination-container {
    text-align: center;
    margin-top: 15px;

    transition: all .5s ease;
    &.ng-enter {
        margin-top: -30px;
        opacity: 0;
        &.ng-enter-active {
            margin-top: 15px;
            opacity: 1;
        }
    }
    &.ng-leave {
        margin-top: 15px;
        opacity: 1;
        &.ng-leave-active {
            margin-top: -30px;
            opacity: 0;
        }
    }
    .pagination {
        margin: 0;
    }
}

.item-swipe-wrapper {
    width: 100%;

    .swipe-overlay-left {
        text-align: center;
        font-size: 120%;
        background-color: red;
        overflow: hidden;
        text-overflow: clip;
        width: 0;
        top: 0;
        position: absolute;
        height: 100%;
        z-index: 10000;
        color: rgba(255, 255, 255, 0);
        line-height: 60px;
    }

    .swipe-overlay-right {
        text-align: center;
        font-size: 120%;
        background-color: #337ab7;
        overflow: hidden;
        text-overflow: clip;
        width: 0;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        z-index: 10000;
        color: rgba(255, 255, 255, 0);
        line-height: 60px;
    }

    .swiper {
        width: 100%;
        display:flex;
    }
}


.compact {
    border: 1px solid #ddd;
    background-color: #eee;
    overflow: hidden;
    position: relative;
    .list-group-item {
        display: flex;
        border: none;
        border-top: 1px solid #ddd;
        padding: 0;
        @include border-radius(0);
        margin-top: -1px;
        &:first-child {
            margin-top: 0px;
            border: none;
        }
        &:last-child {
            border-bottom: 1px solid #ddd;
            margin-bottom: -1px;
        }
        .item-buttons {
            display: flex;
            width: 20px;
        }
        .item-content {
            padding: 10px;
            width: 100%;
        }
    }
}

.buffer-down {
    margin-bottom: 15px;
}

.ta-toolbar {
    margin-bottom: 5px;
}

.ta-editor {
    min-height: 100px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.ta-scroll-window {
    >.ta-bind {
        min-height: 100px;
    }
    &.form-control {
        min-height: 100px;
    }
}

tags-input {
    .host {
        margin: 0;
        .tags {
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            width: flex;

            .input {
                font: inherit;
            }

            .tag-item {
                background: #0097cf;
                border: none;
                color: white;

                .remove-button {
                    color: white;
                }

                &.selected {
                    background: #FF2F3C;
                }
            }
        }
    }
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}

[collapse] {
    transition-timing-function: ease !important;
    transition-duration: 0.15s;
}
