@import "styles/_base";

$menubackground: #273135;
$menutextcolor: #999999;
$brandbackground: #ea6602;//#f66341;

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    padding-left: 0;
    @include transition(all 0.5s ease);
}

.wrapper.toggled {
    padding-left: 250px;
}

.sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: $menubackground;
    @include transition(all 0.5s ease);
}

.wrapper.toggled .sidebar-wrapper {
    width: 250px;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
}

.wrapper.toggled .page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
/* Sidebar Styles */

.sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 48px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

@media(min-width:768px) {
    .wrapper {
        padding-left: 250px;
    }
    .wrapper.toggled {
        padding-left: 64px;
    }
    .sidebar-wrapper {
        width: 250px;
    }
    .wrapper.toggled .sidebar-wrapper {
        width: 64px;
    }
    .page-content-wrapper {
        position: relative;
    }
    .wrapper.toggled .page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.container {
    min-width: 100%;
}

.sidebar-brand {
    color: white;
    background-color: $brandbackground;
    line-height: 64px;
    height: 64px;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;

    .fa {
        color: #aaaaaa;
        font-size: 40px;
        margin-left: 10px;
    }

    .profile-image {
        display: inline-block;
        vertical-align: top;
        height: 50px;
        width: 50px;
        @include border-radius(100%);
        background-color: white;
        margin: 7px;
        img {
            @include border-radius(100%);
            height: 46px;
            margin: 2px;
            vertical-align: top;
        }
    }
}

.topbar {
    color: $menutextcolor;
    background-color: $menubackground;
    height: 64px;
    line-height: 64px;
    margin-bottom: 15px;
    .menubutton {
        height: 64px;
        width: 64px;
        text-align: center;
        display: inline-block;
        font-size: 32px;
    }
}

.sidebar-icon {
    width: 64px;
    text-align: center;
    font-size: 30px;
}
