<div class="modal courses-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Edit Courses
                <button class="close" ng-click="vm.hideModal()">&times;</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" ng-model="vm.currentConnector.name" bs-options="course.name as course.name for course in vm.courses" placeholder="Name" bs-typeahead>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Description</label>
                        <div class="col-md-9">
                            <text-angular ta-toolbar="[['bold','italics'], ['ul', 'ol'], ['insertLink']]" ng-model="vm.currentConnector.description"></text-angular>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Period</label>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" ng-model="vm.currentConnector.dateFrom" data-max-date="{{vm.currentConnector.dateTo}}" data-date-format="yyyy-MM-dd" placeholder="Start" data-start-week="1" bs-datepicker>
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" ng-model="vm.currentConnector.dateTo" data-min-date="{{vm.currentConnector.dateFrom}}" data-date-format="yyyy-MM-dd" placeholder="End" data-start-week="1" bs-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row buffer-down">
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" ng-disabled="!vm.isValidConnector(vm.currentConnector)" ng-click="vm.addConnector(vm.currentConnector)" ng-if="!vm.isEditMode()">Add</button>
                        <button class="btn btn-primary pull-right" ng-disabled="!vm.isValidConnector(vm.currentConnector)" ng-click="vm.saveConnector(vm.currentConnector)" ng-if="vm.isEditMode()">Save</button>
                    </div>
                </div>
                <ul class="list-group compact edit-courses-list">
                    <li class="list-group-item edit-courses-list-item" ng-repeat="connector in vm.connectorsPage">
                        <div class="item-buttons">
                            <div class="deletebutton" ng-click="vm.removeConnector(connector)">
                                <i class="fa fa-trash"></i>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="name">
                                {{connector.name}}
                            </div>
                            <div class="period">
                                {{connector.dateFrom | date}} - {{connector.dateTo | date}}
                            </div>
                        </div>
                        <div class="item-buttons">
                            <div class="editbutton" ng-click="vm.setConnectorForEditing(connector)">
                                <i class="fa fa-edit"></i>
                            </div>
                        </div>
                    </li>
                    <div class="empty-panel-body" ng-if="vm.connectorsPage.length === 0">
                        No added courses
                    </div>
                </ul>
                <div class="pagination-container" ng-if="vm.getPageCount() > 0">
                    <ul class="pagination">
                        <li>
                            <a aria-label="Previous" ng-click="vm.previousPage()">
                                <span aria-hidden="true">&lsaquo;</span>
                            </a>
                        </li>
                        <li>
                            <a aria-label="Next" ng-click="vm.nextPage()">
                                <span aria-hidden="true">&rsaquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="vm.hideModal()">Close</button>
                <button class="btn btn-primary" ng-click="vm.save()">Confirm changes</button>
            </div>
        </div>
    </div>
</div>
