@import "styles/_base";
@import "styles/_colors";

.updatedList {
    .parameter-window {
        .select-width-hack {
            button {
                width: 100%;
                text-align: left;
                .caret {
                    float: right;
                    margin-top: 9px;
                }
            }
        }
    }
    .list-heading {
        padding-bottom: 10px;
    }
    a, a:link, a:visited {
        display: block;
        text-decoration: none;
    }
    .no-results {
        border-top: solid 1px #ddd;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .person {
        > a {
            text-decoration: none;
            color: $textcolor;
        }
        &:hover {
            background-color: #f0f0f0;
        }
    }
}
