@import "styles/_base";
@import "styles/_colors";

.updatedList {

    .parameter-window {
        .select-width-hack {
            button {
                width: 100%;
                .caret {
                    float: right;
                    margin-top: 9px;
                }
                text-align: left;
            }
        }
    }


    input + .typeahead.ng-hide { display: block !important; visibility: hidden !important; overflow: hidden; }

    .list-heading {
        padding-bottom: 10px;

    }
    a, a:link, a:visited {
        display: block;
        text-decoration: none;
    }



    .search-dropdown {
    }

    .no-results {
        border-top: solid 1px #ddd;
    }

    .row {
        padding: 8px;
    }
}