@import "styles/_base";
@import "styles/_colors";

$advancedsearchimagesize1: 66px;
$advancedsearchimagesize2: 105px;
$advancedsearchimagesize3: 116px;
$advancedsearchimagesize_mobile: 85px;

.parameter-window {
    .select-width-hack {
        button {
            width: 100%;
            .caret {
                float: right;
                margin-top: 9px;
            }
            text-align: left;
        }
    }
}

.tags {
    @include border-radius(0);
    box-shadow: none;
    width: flex;
}

.tagField {
    width: 100%;
}

input + .typeahead.ng-hide { display: block !important; visibility: hidden !important; overflow: hidden; }

.list-heading {
    padding-bottom: 10px;

}
a, a:link, a:visited {
    display: block;
    text-decoration: none;

}
.advanced-search-table {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    margin-top: 10px;
    .list-group-item {
        @include border-radius(0);
        padding: 0 15px;
        border: none;
        margin-bottom: 0;
        > a {
            text-decoration: none;
            color: $textcolor;
        }
        .email  {
            font-size: 80%;
        }

        &:hover {
            background-color: #f0f0f0;
        }
    }
}

.skillFilters {
    padding: 3px;
}

.search-dropdown {
}

.no-results {
    border-top: solid 1px #ddd;
}
