<div class="row">

    <!-- GENERAL INFO -->

    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-sm-12" ng-show="vm.activated">
        <div id="general-info" class="panel-wrapper">
            <div class="panel panel-default profile-default">
                <div class="image-panel">
                    <img ng-if="vm.profileImage" ng-src="{{ vm.API_URL }}/file/thumbnail/{{ vm.profileImage.generatedName }}">
                    <img ng-if="!vm.profileImage" ng-src="assets/legolas-cage.jpg">
                </div>
                <div class="data-box">
                    <div class="name">
                        {{ vm.name }}
                    </div>
                    <div class="role pull-right">
                        {{ vm.role.name }}
                    </div>
                    <div class="title">
                        {{ vm.position }}
                    </div>
                    <div class="location">
                       {{ vm.contactInfo }}
                    </div>
                    <br>
                    <table class="employee">
                        <tbody>
                            <tr>
                                <th>
                                    Employee#
                                </th>
                                <td>
                                    {{ vm.employeeNumber }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    From
                                </th>
                                <td>
                                    {{ vm.startDateOfEmployment }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    To
                                </th>
                                <td>
                                    {{ vm.endDateOfEmployment }}
                                </td>
                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <th>
                                    Interests
                                </th>
                                <td>
                                    {{ vm.personalInterests }}
                                </td>
                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <th>
                                    Description
                                </th>
                                <td>
                                    {{ vm.description }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <b>General Info</b>
                </div>
            </div>
        </div>
    </div>

    <!-- PRIVATE INFO -->

    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-sm-12" ng-show="vm.activated">
        <div id="private-info" class="panel-wrapper">
            <div class="panel panel-default profile-default">
                <div class="image-panel hidden-xs hidden-sm">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="data-box">
                    <table class="employee">
                        <tbody>
                            <tr>
                                <th>
                                    Personal ID Number
                                </th>
                                <td>
                                    {{ vm.personalIdNumber }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Address
                                </th>
                                <td>
                                    {{ vm.addressInfo }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    ICE
                                </th>
                                <td>
                                    {{ vm.ICEInfo }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Shirt Size
                                </th>
                                <td>
                                    {{ vm.shirtSize }}
                                </td>
                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <th>
                                    Food Preferences
                                </th>
                                <td>
                                    {{ vm.foodPreferences }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <b>Private Info</b>
                </div>
            </div>
        </div>
    </div>

    <!-- SKILLS -->

    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-sm-12" ng-show="vm.activated">
        <div id="skills" class="panel-wrapper">
            <div class="panel panel-default profile-default">
                <div class="image-panel hidden-xs hidden-sm">
                    <i class="fa fa-flask"></i>
                </div>
                <div class="itemrow skillrow" ng-class="{'removeTopBorder': $first}" ng-repeat="skill in vm.skills">
                    <div class="image-box">
                        <i class="{{ skill.icon }}"></i>
                    </div>
                    <div class="data-box">
                        <div class="name">
                            {{ skill.name }}
                        </div>
                        <div class="year pull-right">
                            {{ skill.years }}
                            <ng-pluralize
                                count=skill.years
                                when="{'1': 'year',
                                       'other': 'years'}" >
                            </ng-pluralize>
                        </div>
                        <div class="level">
                            {{ skill.level }}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <b>Skills</b>
                </div>
            </div>
        </div>
    </div>

    <!-- CERTIFICATES -->

    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-sm-12" ng-show="vm.activated">
        <div id="certificates" class="panel-wrapper">
            <div class="panel panel-default profile-default">
                <div class="image-panel hidden-xs hidden-sm">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="itemrow certificaterow" ng-class="{'removeTopBorder': $first}" ng-repeat="certificate in vm.certificates">
                    <div class="image-box">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="data-box">
                        <div class="name">
                            {{ certificate }}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <b>Certificates</b>
                </div>
            </div>
        </div>
    </div>

    <!-- ASSIGNMENTS-->

    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-sm-12" ng-show="vm.activated">
        <div id="assignments" class="panel-wrapper">
            <div class="panel panel-default profile-default">
                <div class="image-panel hidden-xs hidden-sm">
                    <i class="fa fa-suitcase"></i>
                </div>
                <div class="itemrow assignmentrow" ng-class="{'removeTopBorder': $first}" ng-repeat="assignment in vm.assignments">
                    <div class="image-box">
                        <i class="fa fa-suitcase"></i>
                    </div>
                    <div class="data-box">
                        <div class="name">
                            {{ assignment.name }}
                        </div>
                        <div class="skilltag pull-right" ng-repeat="skill in assignment.skills">
                            {{ skill.name }}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <b>Assignments</b>
                </div>
            </div>
        </div>
    </div>

    <!-- TAGS -->

    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-sm-12" ng-show="vm.activated">
        <div class="panel-wrapper">
            <div id="tags" class="panel panel-default">
                <div class="image-panel hidden-xs hidden-sm">
                    <i class="fa fa-cloud"></i>
                </div>
                <div class="tag" ng-repeat="word in vm.cloud.words" ng-style="{ opacity: {{word.opacity}} }"> {{word.text}} </div>
            </div>
        </div>
    </div>

    <!-- CLOUD -->

    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-sm-12">
        <div id="cloud" class="panel-wrapper">
            <div class="panel panel-default">
                <div class="image-panel hidden-xs hidden-sm">
                    <i class="fa fa-cloud"></i>
                </div>
                <tagcloud class="profile-cloud" autoResize="true" words="vm.cloud.words" steps="7"></tagcloud>
            </div>
        </div>
    </div>

</div>
