<div class="modal summary-modal" ng-if="vm.active">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Edit Summary
                <button class="close" ng-click="vm.hideModal()">&times;</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="form" novalidate>
					<!-- SUMMARY -->

					<div class="form-group">
						<label class="col-sm-4 control-label">Summary</label>
						<div class="col-sm-8">
							<textarea class="form-control" placeholder="" ng-model="vm.summary.summary" rows="15"></textarea>
						</div>
					</div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="vm.hideModal()">Close</button>
                <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="form.$dirty && !form.$valid || !form.$dirty">Save changes</button>
            </div>
        </div>
    </div>
</div>

