<div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-12">
        <div class="panel panel-default" ng-show="vm.activated">
            <div class="panel-body">
                <div class="form-group">
                    <tags-input class="tagField" ng-model="vm.tagList" placeholder="Enter keywords..." replace-spaces-with-dashes="false" min-length="0" on-tag-added="vm.doAdvancedSearch()" on-tag-removed="vm.doAdvancedSearch()">
                        <auto-complete source="vm.getSuggestedTags($query)" min-length="1" max-results="10"></auto-complete>
                    </tags-input>
                </div>

                <span ng-click="vm.toggleRefined()" style="cursor:pointer">Advanced options <i class="fa fa-sort-down list-toggle" ng-class="{'toggled': vm.refinedIsShown}"></i></span>
            </div>

            <div class="parameter-window" collapse="!vm.refinedIsShown">

                <div class="refinedParameters">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filter-heading">Filter by skill</div>
                        </div>
                        <div class="col-md-6">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Skill</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="vm.newSkill.name" placeholder="Enter skill..." bs-options="skill.name as skill.name for skill in vm.suggestedSkills" min-length="2" auto-select="true" bs-typeahead>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Level</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="vm.newSkill.level" data-html="1" bs-options="level.value as level.label for level in vm.levels" bs-select placeholder=""></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Years</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control col-md-6" ng-model="vm.newSkill.years">
                                    </div>
                                </div>
                            </form>
                            <div class="text-right buffer-down">
                                <button class="btn btn-primary" ng-click="vm.addSkill()">Add skill filter</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group compact edit-skills-list-search">
                                <li class="list-group-item edit-skills-list-item" ng-repeat="skill in vm.refinedSkills">
									<div class="item-buttons">
										<div class="deletebutton" ng-click="vm.removeSkill(skill)">
											<i class="fa fa-trash"></i>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <div class="name col-sm-4">{{skill.name}}</div>
                                        <div class="level col-sm-4">Level: {{skill.level}}</div>
                                        <div class="years col-sm-4">Years: {{skill.years}}</div>
                                    </div>
									<div class="item-buttons">
										<div class="editbutton" ng-click="vm.editSkill(skill)">
											<i class="fa fa-edit"></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pagination-container" ng-if="vm.refinedSkills.length > 5">
                                <dir-pagination-controls></dir-pagination-controls>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <div class="filter-heading">Other filters</div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Role</label>
                                    <div class="col-md-9">
                                        <button type="button" class="btn btn-default search-dropdown" ng-model="vm.refinedRoles" ng-change="vm.doAdvancedSearch()" data-html="1" icon-checkmark="fa fa-check" data-animation="am-flip-x" bs-options="role.name as role.name for role in vm.suggestedRoles" placeholder="Select role..." ng-change="vm.doAdvancedSearch()" bs-select>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Office</label>
                                    <div class="col-md-9">
                                        <button type="button" class="btn btn-default search-dropdown" ng-model="vm.refinedOffices" ng-change="vm.doAdvancedSearch()" data-html="1" icon-checkmark="fa fa-check" data-multiple="1" data-animation="am-flip-x" bs-options="office.name as office.name for office in vm.suggestedOffices" placeholder="Select office..." ng-change="vm.doAdvancedSearch()" max-length="2" bs-select>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div ng-show="vm.result.length > 0">
                <div class="advanced-search-view-buttons hidden-xs hidden-sm">
                    <button class="btn" ng-click="vm.displayMode = 'list'">
                        <i class="fa fa-th-list"></i>
                    </button>
                    <button class="btn" ng-click="vm.displayMode = 'table'">
                        <i class="fa fa-list"></i>
                    </button>
                </div>
                <div class="list-group advanced-search-list" ng-if="vm.displayMode == 'list'">
                    <li class="list-group-item" dir-paginate="person in vm.result | orderBy:'name' | itemsPerPage:10">
                        <a ng-href="{{ vm.baseUrl }}{{ person._id }}">
                            <div class="profile-image">
                                <i class="fa fa-user" ng-hide="person.profileImage"></i>
                                <img ng-if="person.profileImage" ng-src="{{ vm.API_URL }}/file/thumbnail/{{ person.profileImage.generatedName }}">
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="name">
                                            {{ person.name }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="phone-container" ng-show="person.phoneNumber">
                                            <i class="fa fa-phone"></i> {{ person.phoneNumber }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="mail-container" ng-show="person.email">
                                            <i class="fa fa-envelope"></i> {{ person.email }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="office-container" ng-show="person.office">
                                            <i class="fa fa-building"></i> {{ person.office }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </div>

                <div class="list-group advanced-search-table" ng-if="vm.displayMode == 'table'">
                    <li class="list-group-item" ng-repeat="person in vm.result | orderBy:'name'">
                        <a ng-href="{{ vm.baseUrl }}{{ person._id }}">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="name">
                                        {{ person.name }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="office-container" ng-show="person.office">
                                        {{ person.office }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="phone-container" ng-show="person.phoneNumber">
                                        {{ person.phoneNumber }}
                                    </div>
                                </div>
                                <div class="col-md-5 text-right">
                                    <div class="email" ng-show="person.email">
                                        {{ person.email }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </div>

                <div class="search-result-paginate-container" ng-if="vm.result.length > 10 && vm.displayMode == 'list'">
                    <dir-pagination-controls max-size="6"></dir-pagination-controls>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>{{vm.result.length}} matches found.</p>
                    </div>
                </div>
            </div>
            <div class="panel-body no-results" ng-show="vm.result.length <= 0">
                No matches were found for your selected combination of parameters and tags.
            </div>
        </div>
    </div>
</div>
