@import "styles/_base";
@import "styles/_colors";

.parameter-window {
    .select-width-hack {
        button {
            width: 100%;
            .caret {
                float: right;
                margin-top: 9px;
            }
            text-align: left;
        }
    }
}

.tags {
    @include border-radius(0);
    box-shadow: none;
    width: flex;
}

.tagField {
    width: 100%;
}

input + .typeahead.ng-hide { display: block !important; visibility: hidden !important; overflow: hidden; }

.advanced-search-view-buttons {
    padding: 15px;
    color: $brandbackground;
    .btn {
        background-color: white;
    }
}

.advanced-search-table {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    .list-group-item {
        @include border-radius(0);
        padding: 0 15px;
        border: none;
        > a {
            text-decoration: none;
            color: $textcolor;
        }
        .email  {
            font-size: 80%;
        }

        &:hover {
            background-color: #f0f0f0;
        }
    }
}

.advanced-search-list
{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    .list-group-item {
        @include border-radius(0);
        padding: 0;
        border: none;
        > a {
            text-decoration: none;
            color: $textcolor;
            padding: 0;
            display: flex;
            width: 100%;
            .profile-image {
                text-align: center;
                min-width: 61px;
                max-width: 61px;
                min-height: 61px;
                max-height: 61px;
                overflow: hidden;
                background-color: white;
                .fa.fa-user {
                    line-height: 61px;
                    font-size: 32px;
                    color: #ddd;
                }
                img {
                    width: 61px;
                    height: 61px;
                }
            }
            .content {
                width: 100%;
                padding: 10px;
                border-top: 1px solid #ddd;
                .fa {
                    padding-right: 2px;
                    color: #3D606E;
                }
                .name {
                    display: inline-block;
                    margin-right: 15px;
                }
                .office-container {
                    opacity: 0.65;
                }
                .phone-container {
                    opacity: 0.65;
                }
                .mail-container {
                    display: inline-block;
                    opacity: 0.65;
                }
            }
            &:hover {
                background-color: #fbfbfb;
            }
        }
        &:first-child {
            .content {
                border: none;
            }
        }
        &:last-child {
            .content {
            }
        }
    }
}

.skillFilters {
    padding: 3px;
}

.search-dropdown {
}

.edit-skills-list-search {
    .swipe-overlay {
        line-height: 37px;
    }
    min-height: 201px;
    .edit-skills-list-item {
        .item-buttons {
            width: 40px;
            min-width: 40px;
        }
        .deletebutton-expander {
            display: flex;
            width: 100%;
            .deletebutton {
                @include transition(all 0.3s ease);
                max-width: 3px;
                min-width: 3px;
                display: inline-block;
                color: rgba(255, 255, 255, 0);
                background-color: red;
                text-align: center;
                font-size: 20px;
                line-height: 40px;
            }
            &:hover .deletebutton {
                min-width: 100%;
                max-width: 100%;
                color: rgba(255, 255, 255, 1);
            }
        }
        .editbutton-expander {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            .editbutton {
                @include transition(all 0.3s ease);
                max-width: 3px;
                min-width: 3px;
                display: inline-block;
                color: rgba(255, 255, 255, 0);
                background-color: #337ab7;
                text-align: center;
                font-size: 20px;
                line-height: 40px;
            }
            &:hover .editbutton {
                min-width: 100%;
                max-width: 100%;
                color: rgba(255, 255, 255, 1);
            }
        }
        .name {
            display: inline-block;
            font-weight: bold;
            width: 175px;
        }
        .level {
            display: inline-block;
            width: 100px;
        }
        .years {
            display: inline-block;
        }
    }
}

.refinedParameters {
    padding: 15px;
    border-top: solid 1px #ddd;
}

.search-result-paginate-container {
    text-align: center;
}

.filter-heading {
    font-size: 120%;
}

.no-results {
    border-top: solid 1px #ddd;
}

.select.dropdown-menu {
    max-height: 250px;
    overflow: auto;
}

.typeahead {
    max-height: 250px;
    overflow: auto;
}
