@import "styles/_base";
@import "styles/_colors";

.edit-skills-list {
	min-height: 420px;
	max-height: 420px;
	overflow: hidden;
	.edit-skills-list-item {
		.deletebutton-expander {
			display: flex;
			background-color: antiquewhite;
			width: 100%;
			.deletebutton {
				@include transition(all 0.5s ease);
				max-width: 3px;
				min-width: 3px;
				display: inline-block;
				color: #C74B47;
				background-color: red;
			}
			&:hover {
				.deletebutton {
					min-width: 100%;
					max-width: 100%;
					background-color: pink;
				}
			}
		}
		.editbutton {
			display: inline-block;
			float: right;
		}
		.name {
			display: block;
			font-weight: bold;
		}
		.level {
			display: inline-block;
			width: 100px;
		}
		.years {
			display: inline-block;
		}
	}
}
