@import "styles/_base";
@import "styles/_colors";

.skills-modal {
    .edit-skills-list {
        min-height: 420px;
        max-height: 420px;
        overflow: hidden;
        max-width: 100%;
        zoom: 1;
        .edit-skills-list-item {
            width: 100%;
            zoom: 1;
            overflow: hidden;
            text-overflow: clip;
            white-space:nowrap;
            .item-buttons {
                width: 40px;
                min-width: 40px;
            }
            .deletebutton-expander {
                display: flex;
                width: 100%;
                .deletebutton {
                    @include transition(all 0.3s ease);
                    max-width: 3px;
                    min-width: 3px;
                    display: inline-block;
                    color: rgba(255, 255, 255, 0);
                    background-color: red;
                    text-align: center;
                    line-height: 58px;
                    font-size: 20px;
                }
                &:hover .deletebutton {
                    min-width: 100%;
                    max-width: 100%;
                    color: rgba(255, 255, 255, 1);
                }
            }
            .editbutton-expander {
                display: flex;
                flex-direction: row-reverse;
                width: 100%;
                .editbutton {
                    @include transition(all 0.3s ease);
                    max-width: 3px;
                    min-width: 3px;
                    display: inline-block;
                    color: rgba(255, 255, 255, 0);
                    background-color: #337ab7;
                    text-align: center;
                    line-height: 58px;
                    font-size: 20px;
                }
                &:hover .editbutton {
                    min-width: 100%;
                    max-width: 100%;
                    color: rgba(255, 255, 255, 1);
                }
            }
            .name {
                display: block;
                font-weight: bold;
            }
            .level {
                display: inline-block;
                width: 70px;
            }
            .futureLevel {
                display: inline-block;
                width: 100px;
            }
            .years {
                display: inline-block;
            }
        }

    }
    .pagination-container {
        line-height: 0;
        ul.pagination {
            margin: 5px;
        }
    }
}
